@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Medium.otf') format('opentype'); 
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Pretendard, sans-serif;
}

html{
    background-color: #DCE4ED;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    background-color: transparent;
}

img{
    object-fit: cover;
}
header{
    height: 80px;
    margin: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    background-color: #86B1E5;
    border-radius: 10px;

}

#preview{
    margin: 0 10px 10px 10px;
}

#preview div{ 
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    gap: 10px;
}

#preview img{
    width: 350px;
    border-radius: 10px;
}

#preview img:last-child{
    margin-right: 0px;
}

nav{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 80px;
    margin: 10px;
    font-size: 20px;
    background-color: #B7CAE2;
    border-radius: 10px;
}

nav p{
    margin-right: 80px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 240px;
    font-weight: 600;
    list-style: none;
}

nav li{
    color: #000000;
}
nav li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #5AB2FF
}

.index{
    position: sticky;
    top:0;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background-color: #AAC2DD;
    border-radius: 8px;
}

#day1 .gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    padding: 0 140px 0 140px;
    gap: 10px;
}

#day1 .gallery img{
    flex-grow: 1;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 1s ease, padding 1s ease;
}
#day1 .gallery img:hover{
    transform: translate(0,-10px);
}

#day2 .gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    padding: 0 200px 0 200px;
    gap: 20px;
}
#day2 .gallery .left{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
#day2 .gallery .right{
    flex:1;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    gap: 20px;
}

#day2 .gallery img{
    flex-grow: 1;
    border-radius: 10px;
    transition: transform 1s ease, padding 1s ease;
}

#day2 .gallery img:hover{
    transform: translate(0,-10px);
}

#day2 .gallery .left img{
    flex-grow: 1;
    height: 520px;
}


#day2 .gallery .right img{
    flex-grow: 1;
    height: 250px;
}

#day3 .gallery{
    display: grid;
	grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 10px;
    width: 1000px;
    height: 500px;
    margin: 20px auto 0 auto;
}

#day3 .gallery .item{
    border-radius: 10px;
}

#day3 .gallery .item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
    background: no-repeat center/cover url('./img/biei.jpg');
}

#day3 .gallery .item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
    background: no-repeat center/cover url('./img/biei.jpg');
}

#day3 .gallery .item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
    background: no-repeat center/cover url('./img/biei.jpg');
}

#day3 .gallery .item:nth-child(4) {
    grid-column: span 3;
    grid-row: span 2;
    background: no-repeat center/cover url('./img/biei.jpg');
}

#day3 .gallery .item:nth-child(5) {
    grid-column: span 1;
    grid-row: span 2;
    background: no-repeat center/cover url('./img/biei.jpg');
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 40px 10px 10px 10px;
    font-size: 24px;
    text-align: center;
    background-color: #86B1E5;
    border-radius: 10px;
}
#top div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 100%;
}
#top img{
    width: 40px;
    height: 40px;
}