@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Medium.otf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Pretendard, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #d9d9d9;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    padding: 10px;
    background-color: #f8f8f8;
}

button {
    border: none;
    cursor: pointer;
}

header {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

#asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
}

.subtitle {
    font-size: 20px;
}

#money {
    font-size: 20px;
}

#today {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 160px;
    align-items: center;
}

#today img {
    width: 16px;
    height: 16px;
}

.income {
    color: #4d7cfe;
}

.spending {
    color: #fe4d4d;
}

#main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 300px);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
}

#date {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    width: 160px;
}

#date button {
    border: none;
    background: transparent;
}

#money-type {
    display: flex;
    justify-content: end;
    font-size: 14px;
}

#money-type input {
    display: none;
}

#money-type label {
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
    color: #777777;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

#money-type input[type=checkbox]:checked+label {
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
    color: #ffffff;
    background-color: #4880ee;
}

ol {
    list-style: none;
}

#history {
    overflow: scroll;
    height: 90%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d9d9d9;
}

#history ol {
    display: flex;
    flex-direction: column;
}

#history li {
    display: flex;
    height: 40px;
    justify-content: start;
}

#history li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#history .category {
    flex-basis: 20%;
}

#history .name {
    flex-basis: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#history .price {
    flex-basis: 30%;
    text-align: end;
    flex-grow: 1;
}

#history .income::before {
    content: '+';
}

#history .spending::before {
    content: '-';
}

#history li button {
    flex-basis: 10%;
    height: 20px;
    border: 0;
    background-color: transparent;
}

.delete::after {
    content: "✕";
}

footer #add {
    position: fixed;
    bottom: 10px;
    width: calc(100% - 20px);
    height: 44px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: 44px;
    background-color: #4880ee;
    border: none;
    border-radius: 10px;
}

section#modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#add-history-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    width: 100vw;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffffff;
}

#add-history-modal input[type=radio] {
    display: none;
}

#add-history-modal input[type=text] {
    width: 70%;
    border: none;
    border-bottom: 1px solid #f2f2f2;
}

#add-history-modal p {
    line-height: 40px;
}

#type-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 4px;
    height: 40px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 90%;
}

#type-selector label {
    width: 50%;
    text-align: center;
    border-radius: 7px;
    line-height: 32px;
}

.select-category {
    width: 70%;
}

.drop-down {
    background-color: transparent;
}

.select-category .selector {
    display: flex;
    height: 40px;
    background: #ffffff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.selector p {
    font-size: 12px;
}

.select-category.active .drop-down {
    transform: rotate(-180deg);
}

.select-category .categories {
    position: absolute;
    width: 60%;
    height: 150px;
    overflow: scroll;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-category.active .categories {
    display: block;
}

.categories .category {
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    font-size: 14px;
    color: #333333;
    background: #fff;
}

.categories .category:hover {
    background: #F2F2F2;
}

.categories .type-spending {
    display: none;
}

#select-income input[type=radio]:checked+.categories .type-spending {
    display: none;
}

#type-selector input[type=radio]:checked+label {
    background-color: #ffffff;
}

#category-selector,
#price-input,
#content-input,
#modal-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#modal-button-wrapper {
    position: absolute;
    gap: 10px;
    bottom: 20px;
    width: 90%;
    height: 40px;
}

#modal-button-wrapper button {
    width: 50%;
    height: 44px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button#close {
    position: left;
    color: #333333;
}

button#save {
    position: right;
    color: #ffffff;
    background-color: #4880ee;
}