@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Medium.otf') format('opentype');
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Pretendard, sans-serif;
}

html {
    background-color: #DCE4ED;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #5AB2FF;
}

p {
    background-color: transparent;
}

img {
    object-fit: cover;
}

header {
    width: 1000px;
    height: 80px;
    margin: 10px auto 10px auto;
    text-align: center;
    line-height: 80px;
    background-color: #86B1E5;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

button {
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 80px;
    margin: 10px auto 10px auto;
    font-size: 20px;
    background-color: #B7CAE2;
    border-radius: 10px;
}

#preview {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    overflow-x: scroll;

    position: relative;

    width: 1000px;

    margin: 0 auto 10px auto;
    padding-bottom: 10px;
}

#preview .gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    overflow-x: scroll;

    width: 1000px;

    margin: 0 auto 10px auto;
    padding-bottom: 10px;
}

#preview .gallery::-webkit-scrollbar {
    width: 10px;
}

#preview .gallery::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background: #86B1E5;
}

#preview .gallery::-webkit-scrollbar-track {
    border-radius: 10px;

    background-color: #B7CAE2;
}

#preview button {
    position: absolute;
    top: calc(50% - 90px);

    height: 100px;
    width: 50px;
}

button.start {
    left: 0;

    background: no-repeat center/cover url('./img/start.png');
}

button.end {
    right: 0;

    background: no-repeat center/cover url('./img/end.png');
}

#preview img {
    width: 350px;

    border-radius: 10px;
}

#preview img:last-child {
    margin-right: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1000px;
    height: 80px;

    border-radius: 10px;

    background-color: #B7CAE2;

    margin: 10px auto 10px auto;
    font-size: 20px;
}

nav p {
    margin-right: 80px;
}

nav ul {
    display: flex;
    justify-content: space-between;

    width: 240px;
}

nav li {
    color: #000000;
}

nav li:hover {
    color: #5AB2FF;

    text-decoration: underline;

    cursor: pointer;
}

.index {
    position: sticky;
    top: 0;
    z-index: 1;

    width: 1000px;
    height: 60px;

    margin: 10px auto;

    border-radius: 8px;

    background-color: #AAC2DD;

    text-align: center;
    line-height: 60px;
}

#day1 .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 1000px;

    margin: 10px auto 0;
    padding: 0 140px;
}

#day1 .gallery .item {
    flex-grow: 1;

    position: relative;

    width: 180px;
    height: 180px;

    border-radius: 10px;

    transition: transform 1s ease, padding 1s ease;
}

#day1 .gallery .item:hover {
    background-color: rgba(0, 0, 0, 0.5);

    transform: translate(0, -10px);
}

#day1 .gallery .item:nth-child(1) {
    background: no-repeat center/cover url('./img/biei.jpg');
}

#day1 .gallery .item:nth-child(2) {
    background: no-repeat center/cover url('./img/otaru-canal.jpg');
}

#day1 .gallery .item:nth-child(3) {
    background: no-repeat center/cover url('./img/ningle-terrace.jpg');
}

#day1 .gallery .item:nth-child(4) {
    background: no-repeat center/cover url('./img/ski.jpg');
}

#day1 .gallery .item:nth-child(5) {
    background: no-repeat center/cover url('./img/tv-tower.png');
}

#day1 .gallery .item:nth-child(6) {
    background: no-repeat center/cover url('./img/sarutama.jpg');
}

#day1 .gallery .item:nth-child(7) {
    background: no-repeat center/cover url('./img/beer-museum.jpg');
}

#day1 .gallery .item:nth-child(8) {
    background: no-repeat center/cover url('./img/ferris.png');
}

#day1 .gallery .item:nth-child(9) {
    background: no-repeat center/cover url('./img/nikka.png');
}

#day1 .gallery .item:nth-child(10) {
    background: no-repeat center/cover url('./img/ryokan1.jpg');
}

#day1 .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: absolute;

    width: 100%;
    height: 180px;

    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;

    opacity: 0;

    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#day1 .detail p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden;
    text-overflow: ellipsis;
}

#day1 .detail button {
    padding: 5px 10px;

    border-radius: 20px;
}

#day1 .detail:hover {
    background-color: rgba(0, 0, 0, 0.6);

    opacity: 1;
}

#day2 .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 1000px;

    margin: 10px auto;
    padding: 0 10%;
}

#day2 .gallery .left {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex: 1;
}

#day2 .gallery .right {
    display: flex;
    flex: 1;
    flex-basis: 50%;
    flex-wrap: wrap;
    gap: 10px;

    min-width: 400px;
}

#day2 .gallery img {
    border-radius: 10px;

    transition: transform 1s ease, padding 1s ease;
}

#day2 .gallery img:hover {
    transform: translate(0, -10px);
}

#day2 .gallery .left img {
    flex-grow: 1;

    width: 400px;
    height: 420px;
}


#day2 .gallery .right img {
    flex-grow: 1;

    width: 200px;
    height: 205px;
}

#day3 .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    width: 1000px;
    height: 500px;

    margin: 10px auto 0;
}

#day3 .gallery .item {
    border-radius: 10px;
}

#day3 .gallery .item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;

    background: no-repeat center/cover url('./img/nikka.png');
}

#day3 .gallery .item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;

    background: no-repeat center/cover url('./img/ryokan1.jpg');
}

#day3 .gallery .item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;

    background: no-repeat center/cover url('./img/beer-museum.jpg');
}

#day3 .gallery .item:nth-child(4) {
    grid-column: span 3;
    grid-row: span 2;

    background: no-repeat center/cover url('./img/ferris.png');
}

#day3 .gallery .item:nth-child(5) {
    grid-column: span 1;
    grid-row: span 2;

    background: no-repeat center/cover url('./img/vending.JPG');
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: 150px;

    margin: 10px auto;

    border-radius: 10px;

    background-color: #86B1E5;

    font-size: 24px;
    text-align: center;
}

#top div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 80px;
    height: 80px;

    border-radius: 100%;

    background-color: #FFFFFF;

    opacity: 0;
}

#top img {
    width: 40px;
    height: 40px;
}