@font-face {
    font-family: 'Pretendard'; /* 글꼴 이름 */
    src: url('./font/Pretendard-Medium.otf') format('opentype'); 
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Pretendard, sans-serif;
}

p {
    background-color: transparent;
}

header{
    height: 80px;
    margin: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    background-color: #99CCFF;
    border-radius: 10px;

}

#preview{
    margin: 0 10px 10px 10px;
}

#preview div{ 
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    gap: 10px;
}

#preview img{
    width: 350px;
    border-radius: 10px;
}

#preview img:last-child{
    margin-right: 0px;
}

nav{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 80px;
    margin: 10px;
    font-size: 20px;
    background-color: #C2DAF2;
    border-radius: 10px;
}

nav p{
    margin-right: 80px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 240px;
    font-weight: 600;
    list-style: none;
}

nav li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #5AB2FF
}

.index{
    position: sticky;
    top:0;
    height: 40px;
    margin: 80px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background-color: #AAC2DD;
    border-radius: 8px;
}

#day1-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    width: 1200px;
    gap: 10px;
}

#day1-gallery img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#day2-gallery{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 20px auto 0 auto;
    
}

#day2-gallery-left, #day2-gallery-right{
    flex: 1;
}

#day2-gallery img{
    border-radius: 10px;
}
#day2-gallery-left img{
    height: 500px;
}

#day2-gallery-right{
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}
#day2-gallery-right img{
    width: 240px;
    height: 240px;
}