@font-face {
    font-family: 'Pretendard'; /* 글꼴 이름 */
    src: url('./font/Pretendard-Medium.otf') format('opentype'); 
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Pretendard, sans-serif;
}

header{
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    background-color: #99CCFF;
}

#preview{
    padding: 10px;
}

#preview div{ 
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

#preview img{
    width: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

#preview img:last-child{
    margin-right: 0px;
}

nav{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 60px;
    background-color: #C2DAF2
}

nav p{
    margin-right: 80px;
    font-size: 18px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-weight: 600;
    list-style: none;
}

nav li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #5AB2FF
}
