* {
    margin: 0px;
    padding: 0px;
}

header{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

#preview{
    padding: 10px;
}

#preview div{ 
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    
}

#preview img{
    width: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

#preview img:last-child{
    margin-right: 0px;
}
